h1{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;

    margin: 0 auto;
    align-items: center;
}

.rowElement{
    display: flex;
    flex: 0 0 calc(100% / var(--grid-size));
    box-sizing: border-box;
}


.colElement{
    display: flex;
    background-color: lightgray;
    flex: 0 0 calc(100% / var(--grid-size));
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
}